*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1{
  color: wheat;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: 20px 0;
  text-align: center;
}

.to-do-list-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container{
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-logo{
  width: 400px;
  height: 200px;
}

.main-list{
  width: 600px;
  min-height: 500px;
  background-color: black;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

